<div class="container-fluid">

  <div class="row">
      <p class="fw-bold text-center">Row 1</p>
    <div class="col-4">
      <p class="text-center">Col 1-4</p>
    </div>
    <div class="col-4">
      <p class="text-center">Col 5-8</p>
    </div>
    <div class="col-4">
      <p class="text-center">Col 9-12</p>
    </div>

  </div>

  <div class="row">
    <p class="fw-bold text-center">Row 2</p>
    <div class="col-4">
      <p class="text-center">Col 1-4</p>
    </div>
    <div class="col-4">
      <p class="text-center">Col 5-8</p>
    </div>
    <div class="col-4">
      <p class="text-center">Col 9-12</p>
    </div>
  </div>

  <div class="row">
    <p class="fw-bold text-center">Row 3</p>
    <div *ngFor="let item of [].constructor(12); let i = index" class="col-1">
      col-{{i+1}}
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-8">
      <img class="w-100" src="assets/images/pic.jpeg">
    </div>
    <div class="col-4 align-self-center">
      <p>With some text here explaining some kind of pic with a motivational statement</p>
    </div>
  </div>

  <div class="row mt-4 mb-5">
    <p class="fw-bold text-center">Row inside row</p>
    <div class="col-6 ps-3">
      <div class="row">
        row 1
      </div>
      <div class="row">
        row 2
      </div>
      <div class="row">
        row 3
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        row 1
      </div>
      <div class="row">
        row 2
      </div>
      <div class="row">
        row 3
      </div>
    </div>

  </div>

</div>
